body {
    margin:30px;
}
.box-parent {
        border: 1px solid #aaa;
        position: relative;
    }

.box-child {
        width: 200px;
        height: 110px;
        background: #111;
        color: #fff;
        text-align: center;
        line-height: 110px;
        font-size: 20px;
        margin-bottom: 10px;
    }

.box-child:last-child {
    margin-bottom: 0;
}

.is-1st {
    background: pink;
    position: absolute;
    top: 10px;
    left:10px;
}
.is-2nd {
    background:skyblue;
    position: absolute;
    top: 120px;
    left:10px;
}
.is-3rd {
    background: orchid;
    position: relative;
    bottom: 10px;
    left:-10px;
}