/*reset*/

html {
    font-size: 10px;
}

body {
    margin: 0;
    height: 100vh;
    font-size:1.4rem;
}

.icon_set {
    margin: 4rem;
}

.icon_wrap {
    width:25%;
    height: 17rem;
    float:left;
}

.icon_wrap::after {
    content: '';
    display: block;
    clear: both;
}