html {
    font-size: 10px;
}
body {
    margin: 0;
    font: 100%/1.5 Dosis, Sans-Serief;
    background: #fff;
}


.done-page {
    text-align: center;
    padding-left: 13.3333%;
    padding-right: 13.3333%;
}
.icon {
    width: 32px;
    height: 26.5px;
    margin-top:80px;
}

.title {
    color:#7d51ff;
    font-size: 5rem;
    font-weight: 200;
    line-height: 1.2;
}
.sub-title {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing:1.7px; 
    color:#454553 ;
    margin-top:84px;
}
 .link {
    display: block;
    font-size: 1.6rem;
 }
.is-order {
    color: #a3a4bd;
    margin-bottom: 3.2rem;
    line-height: 1.125;
    margin-top:80px;
}
.is-shop {
    text-decoration: none;
    color: #7d51ff;
    font-weight: 600;
    letter-spacing: 1.9px;
}

